MODEL_NAME=<model_name>
OLLAMA_BASE_URL=http://host.docker.internal:11434
EXECUTION_ENGINE_URL=http://kali-engine:5000

# Langfuse
# Postgres
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres"
DIRECT_URL="postgresql://postgres:postgres@postgres:5432/postgres"

# Clickhouse
CLICKHOUSE_MIGRATION_URL="clickhouse://clickhouse:9000"
CLICKHOUSE_URL="http://clickhouse:8123"
CLICKHOUSE_USER="clickhouse"
CLICKHOUSE_PASSWORD="clickhouse"
CLICKHOUSE_CLUSTER_ENABLED="false"

# Redis
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_AUTH="myredissecret"

# MinIO / S3
LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT="http://minio:9000"
LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT="http://minio:9000"
LANGFUSE_S3_BATCH_EXPORT_ENDPOINT="http://minio:9000"

# Secrets
NEXTAUTH_SECRET="<long_secret>"
NEXTAUTH_URL="http://localhost:3000"
SALT="<salt>"
# Generate with: openssl rand -hex 32
ENCRYPTION_KEY=<64_char_key>

LANGFUSE_INIT_ORG_ID="<org_id>"
LANGFUSE_INIT_ORG_NAME="<org_name>"
LANGFUSE_INIT_PROJECT_NAME="<project_name>"
LANGFUSE_INIT_USER_EMAIL="<user_email>"
LANGFUSE_INIT_USER_PASSWORD="<user_password>"

LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_BASE_URL="http://langfuse-web:3000"